@model DataLayer.Models.Festival.Artist
@{
    Layout = "FestivalLayout";
}
<form id="data-form" method="post" action="@Url.Action("ArtistSave", "Festival")">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label for="Name" class="data-label">Наименование</label>
        <input id="Name" name="Name" value="@Model.Name" type="text" class="data-input" autofocus />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Description" class="data-label">Описание</label>
        <textarea id="Description" name="Description" type="text" class="data-input big-textarea">@Model.Description</textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Website" class="data-label">Сайт</label>
        <input id="Website" name="Website" value="@Model.Website" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Facebook" class="data-label">Facebook</label>
        <input id="Facebook" name="Facebook" value="@Model.Facebook" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Youtube" class="data-label">Youtube</label>
        <input id="Youtube" name="Youtube" value="@Model.Youtube" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Instagram" class="data-label">Instagram</label>
        <input id="Instagram" name="Instagram" value="@Model.Instagram" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Twitter" class="data-label">Twitter</label>
        <input id="Twitter" name="Twitter" value="@Model.Twitter" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Itunes" class="data-label">Itunes</label>
        <input id="Itunes" name="Itunes" value="@Model.Itunes" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>