@model List<DataLayer.Models.Festival.Post>

<form action="@Url.Action("Post", "Festival")" class="create-button">
    <input type="submit" value="Создать" />
</form>

<ul>
    @foreach (var post in Model)
    {
        <li>@post.Date.ToString("yyyy-MM-dd") <a href="@Url.Action("Post", "Festival", new {id = post.Id})">@post.Title</a>@(Html.Raw(post.Artist != null ? $" ({post.Artist.Name})" : "")) @(post.StatusText)</li>
    }
</ul>