@using DataLayer.Models.Festival
@model DataLayer.Models.Festival.Stage
@{
    Layout = "FestivalLayout";
    var festivals = (List<Festival>)ViewBag.Festivals;
}
<form asp-action="StageSave" asp-controller="Festival" id="data-form">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Name" class="data-label">Наименование</label>
        <input asp-for="Name" class="data-input" autofocus />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="Description" class="data-label">Описание</label>
        <textarea asp-for="Description" class="data-input big-textarea"></textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label asp-for="FestivalId" class="data-label">Фестиваль</label>
        <select asp-for="FestivalId" size="4">
            @foreach (var festival in festivals)
            {
                if (Model.FestivalId == festival.Id)
                {
                    <option value="@festival.Id" selected>@festival.Name</option>
                }
                else
                {
                    <option value="@festival.Id">@festival.Name</option>
                }
            }
        </select>
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>