@using DataLayer.Models.NBCocktailsBar
@model Cocktail
@{
    Layout = "NBLayout";
    var ingredientsByCategories = (Dictionary<IngredientCategory, List<Ingredient>>)ViewBag.IngredientsByCategories;
    var hasIngredients = Model.Ingredients != null;
}
<form id="data-form" method="post" action="@Url.Action("CocktailSave", "NBCocktailsBar")">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label for="Name" class="data-label">Наименование</label>
        <input id="Name" name="Name" value="@Model.Name" type="text" class="data-input" autofocus />
    </div>
    <div class="clear"></div>
    
    @foreach (var category in ingredientsByCategories)
    {
        var currentCategoryIngredients = hasIngredients ? Model.Ingredients.Where(i => i.Ingredient.CategoryId == category.Key.Id).ToList() : null;
        for (var c = 0; c < category.Key.MaxIngredientInCocktail; c++)
        {
            <div class="data-field">
                <label for="Category@(category.Key.Id)_@c" class="data-label">@(category.Key.Name)</label>
                <select size="5" id="Category@(category.Key.Id)_@c" name="IngredientsInt[]">
                    <option value="null"></option>
                    @foreach (var ingredient in category.Value)
                    {
                        if (hasIngredients && c + 1 <= currentCategoryIngredients.Count && currentCategoryIngredients[c].IngredientId == ingredient.Id)
                        {
                            <option value="@ingredient.Id" selected>@ingredient.Name</option>
                        }
                        else
                        {
                            <option value="@ingredient.Id">@ingredient.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="clear"></div>
        }
    }

    <div class="data-field">
        <label for="Description" class="data-label">Описание</label>
        <textarea id="Description" name="Description" type="text" class="data-input big-textarea">@Model.Description</textarea>
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>