@model DataLayer.Models.NBCocktailsBar.IngredientCategory
@{
    Layout = "NBLayout";
}
<form id="data-form" method="post" action="@Url.Action("IngredientCategorySave", "NBCocktailsBar")">
    @Html.HiddenFor(m => m.Id)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>

    <div class="data-field">
        <label for="Name" class="data-label">Наименование</label>
        <input id="Name" name="Name" value="@Model.Name" type="text" class="data-input" autofocus />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="OrderNo" class="data-label">Позиция</label>
        <input id="OrderNo" name="OrderNo" value="@Model.OrderNo" type="number" step="1" class="data-input" />
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Description" class="data-label">Описание</label>
        <textarea id="Description" name="Description" type="text" class="data-input big-textarea">@Model.Description</textarea>
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>