@using DataLayer.Models.Enums
@model DataLayer.Models.Post
@{
    var concerts = (Dictionary<int, string>)ViewBag.Concerts;
}

<form id="data-form" method="post" action="@Url.Action("PostSave", "PopCorn")">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Date)
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.PublishDate)

    <input type="submit" class="save-data" value="Сохранить" />
    <div class="clear"></div>
    <br />

    @if (Model.Id != 0 && Model.Status != PostStatus.Published)
    {
        <input type="button" value="Опубликовать" onclick="location.href = '@Url.Action("PublishPost", "PopCorn", new {postId = Model.Id})';"/>
        <div class="clear"></div>
        <br/>
    }

    @if (Model.Status != PostStatus.Published)
    {
        <div class="data-field">
            <label for="ScheduleDate" class="data-label">Запланировать на:</label>
            <input id="ScheduleDate" name="ScheduleDate" value="@(Model.ScheduleDate?.ToString("yyyy/MM/dd HH:mm"))" type="text" class="datetime-input data-input"/>
        </div>
        <div class="clear"></div>
    }

    <div class="data-field">
        <label for="ConcertId" class="data-label">Концерт</label>
        <select size="4" id="ConcertId" name="ConcertId">
            <option value="null"></option>
            @foreach (var concert in concerts)
            {
                if (Model.ConcertId == concert.Key)
                {
                    <option value="@concert.Key" selected>@concert.Value</option>
                }
                else
                {
                    <option value="@concert.Key">@concert.Value</option>
                }
            }
        </select>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="IsCommonPost" class="data-label">Общий пост</label>
        @Html.EditorFor(m => m.IsCommonPost)
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Title" class="data-label">Заголовок</label>
        <textarea id="Title" name="Title" type="text" class="data-input" autofocus>@Model.Title</textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Desription" class="data-label">Текст</label>
        <textarea id="Desription" name="Desription" type="text" class="data-input big-textarea">@Model.Desription</textarea>
    </div>
    <div class="clear"></div>

    <div class="data-field">
        <label for="Link" class="data-label">Ссылка</label>
        <input id="Link" name="Link" value="@Model.Link" type="text" class="data-input" />
    </div>
    <div class="clear"></div>

    <input type="submit" class="save-data" value="Сохранить" />
</form>